<!DOCTYPE html>
<html>
  <head>
    <title>recommendation-song</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <!-- <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script> -->
    <script src="colors.js">
    </script>
  </head>
  <body>
    <div id="title"> 
      <h1 class="title1"><a href="index.html"><strong>recommendation-song</strong></a>
       <span class="me"> 201716438 이훈용</span>
       <input class="night_day" type="button" value="night" onclick="nightDayHandler(this);">
      </h1>
    </div>
    
    <div id="grid">
      <ul class="menu">
        <li>
          <strong>K-pop</strong>
          <ul class="submenu">
            <li><a href="kpop"><strong>K-pop</strong></a></li>
            <li><strong>추천하기</strong></li>
            <li><strong>추천받기</strong></li>
          </ul>
        </li>
        <li>
          <strong>J-pop</strong>
          <ul class="submenu">
            <li><a href="jpop"><strong>J-pop</strong></a></li>
            <li><strong>추천하기</strong></li>
            <li><strong>추천받기</strong></li>
          </ul>
        </li>  
        <li>
          <strong>pop</strong>
          <ul class="submenu">
            <li><a href="pop"><strong>pop</strong></a></li>
            <li><strong>추천하기</strong></li>
            <li><strong>추천받기</strong></li>
          </ul>
      </ul>
    
      
      <div class="article">
        <h2>ZARD-DAN DAN 心魅かれてく</h2>
        <p style="margin-left:50px; line-height: 200%">
          <h4>개요</h4>
          드래곤볼 GT의 오프닝 곡.<br>
          GT의 엔딩곡은 네 곡이나 되지만 오프닝은 1화부터 64화(完)까지 계속 쓰였다. 또한 몇몇 화차에서는 전투씬에서 BGM으로 삽입되기도 했으며 무엇보다 첫화부터 마지막화까지 이 곡이 GT의 프롤로그와 에필로그를 맺어주었다.<br>
          곡은 전체적으로 짝사랑과 영원한 사랑을 뜻하고 있지만, 드래곤볼 GT에 비유한다면 드래곤볼의 완결, 손오공과 작중 인물, 독자와의 이별/재회를 다루고 있다.<br>
          비단 드래곤볼 GT뿐만이 아니라 모든 드래곤볼 시리즈를 통틀어도 항상 언급되는 불후의 명곡이다. 방영 당시에는 심심치 않게 욕을 먹었던 GT였으나, 노래가 좋다는 데에는 대부분 이견을 달지 않을 정도. 그나마 이걸로 위신은 세웠다는 평이다.<br>
          <h4>설명</h4>
          개인적으로 이 노래는 드래곤볼 오프닝 가수보다 ZARD가 부른 version을 추천한다. 가수는 안타까운 지병으로 고인이 되었지만 최근에 랄로라는 스트리머의 폭발적 어그로를 통해 우리들 마음속에 살아있다.<br>
          자세한 설명은 <a href="https://namu.wiki/w/DAN%20DAN%20%E5%BF%83%E9%AD%85%E3%81%8B%E3%82%8C%E3%81%A6%E3%81%8F" target="_self" title="html5 specification">
          여기&lt;-</a>를 클릭하면 이 곡에 대한 더 자세한 정보를 알 수 있다.<br>
        </p>
        <p>
          <img src="dandan.jpg" width="30%"><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DUIb8REHER4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
      </div>
  </div>


  </body>
</html>
