<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>recommendation-song</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <script src="/colors.js"></script>
</head>
<body>
<div id="title">
    <h1 class="title1"><a href="/index"><strong>recommendation-song</strong></a>
        <span class="me"> 201716438 이훈용</span>
        <input class="night_day" type="button" value="night" onclick="nightDayHandler(this);">
    </h1>
</div>

<div id="grid">
    <ul class="menu">
        <li>
            <strong>K-pop</strong>
            <ul class="submenu">
                <li><a href="/kpop"><strong>K-pop</strong></a></li>
                <li><strong>추천하기</strong></li>
                <li><strong>추천받기</strong></li>
            </ul>
        </li>
        <li>
            <strong>J-pop</strong>
            <ul class="submenu">
                <li><a href="/jpop"><strong>J-pop</strong></a></li>
                <li><strong>추천하기</strong></li>
                <li><strong>추천받기</strong></li>
            </ul>
        </li>
        <li>
            <strong>pop</strong>
            <ul class="submenu">
                <li><a href="/pop"><strong>pop</strong></a></li>
                <li><strong>추천하기</strong></li>
                <li><strong>추천받기</strong></li>
            </ul>
        </li>
        <li>
            <a href="/post/list"><strong>게시판</strong></a>
        </li>
    </ul>

    <div>
        <h2>게시판</h2>
        <form name="form1" class="form_post_write" th:action="@{'/post/delete/'+${post.id}}" method="POST" th:object="${post}">
            <input type="hidden" th:field="${post.id}">
            <div class="username">
                <label>
                    작성자 :
                    <span th:text="${post.username}"></span>
                    <input type="hidden"  th:field="${post.username}">
                </label>
            </div>
            <div class="pw">
                <label>
                    비밀번호 :
                    <input type="password" th:field="${post.password}" required>
                </label>
            </div>

            <button id="btnUpdate" type="submit">삭제</button>
            <span th:text="${pwNot}"></span>
        </form>
    </div>
</div>
</body>
<script>
    const currentTheme = document.cookie || "day";

</script>
</html>